@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300&family=Lato:wght@300&display=swap');

/*Removes default browser styles*/
* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

/*general style rules for body element*/
body {
    font-family: Lato, sans-serif;
    font-weight: 900;
    color: #312E1C;
    background-color: #CEC8A3;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

/*the landing page is based on the Love Running landing page with hero image zoom effect and similar navbar design*/
/*styles header to stand out with background color and to be sticky*/
.header-nav {
    display: inline-block;
    position: fixed;
    overflow: hidden;
    z-index: 1;
    width: 100%;
    height: 10%;
    background-color: #312E1C;
}

header>a {
    color: #E0D6B5;
}

header i {
    color: #425A20;
}

/*headings all styled according to their semantic importance on the page*/
h1 {
    font-family: Dosis, sans-serif;
    text-transform: capitalize;
    letter-spacing: 2px;
}

h2 {
    font-family: Dosis, sans-serif;
    font-size: 200%;
    font-weight: 600;
    text-transform: capitalize;
    text-align: center;
    letter-spacing: 2px;
    background-color: #312E1C;
    color: #E0D6B5;
}

h3 {
    font-family: Dosis, sans-serif;
    font-size: 150%;
    font-weight: 900;
    text-transform: capitalize;
    text-decoration: underline;
    letter-spacing: 2px;
    color: #312E1C;
}

h4 {
    font-family: Dosis, sans-serif;
    font-size: 150%;
    font-weight: 900;
    margin-bottom: 20px;
    text-transform: capitalize;
    text-decoration: underline;
    letter-spacing: 2px;
    color: #E0D6B5;
}

h5 {
    font-family: Dosis, sans-serif;
    font-size: 120%;
    font-weight: 900;
    margin-bottom: 5px;
    text-transform: capitalize;
    text-decoration: underline;
    letter-spacing: 2px;
    color: #E0D6B5;
}

/*logo style for header and navbar*/
#logo {
    float: left;
    font-size: 280%;
    margin-left: 30px;
}

/* nav bar menu */

#menu {
    font-size: 110%;
    letter-spacing: 2px;
}

#menu li {
    float: right;
    margin-right: 30px;
    list-style-type: none;
}

#menu a {
    text-decoration: none;
    color: #E0D6B5;
}

#menu,
#logo {
    line-height: 75px;
}

/* Menu hover feature seen on : Flexbox Navbar Mobile First Responsive Tutorial  https://www.youtube.com/watch?v=yXhfUCXy2j4&ab_channel=WhatMakeArt
in the tutorial transform: scale (1.1) was used but this stopped working on mine at somepoint so I went with font: larger for a similar effect*/
#menu a:hover {
    border-bottom: 1px solid #E0D6B5;
    font-size: larger;
}

/*menu active feature changes text colour to give a clicking effect*/
#menu a:active {
    border-bottom: 1px solid #425A20;
    color: #425A20;
}

/* hero image and cover text*/
#hero-outer {
    height: 99vh;
    width: 100%;
    overflow: hidden;
    position: relative;
}


#hero-image {
    position: relative;
    height: 99vh;
    width: 100%;
    background: url('../images/hero-image.jpg') no-repeat center center;
    background-size: cover;

    /* animates zoom effect on landing page */

    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* creates zoom for hero-image */
@keyframes hero-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

/*text overlay for landing page hero-image"*/
#welcome-text {
    color: #E0D6B5;
    font-size: 130%;
    font-family: Lato, sans-serif;
    letter-spacing: 2px;
    width: 45%;
    height: fit-content;
    padding: 3% 5%;
    background-color: rgba(66, 90, 32, .9);
    box-sizing: border-box;
    justify-content: center;
    bottom: 29px;
    right: 34px;
    position: absolute;
}

/* About section */
/*creates and styles a flexbox container div*/
.iframe-container iframe {
    width: 100%;
    height: 76vh;
}

.about-container {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 7px solid #312E1C;
    border-radius: 5px;
    margin: 4px;
    padding: 0.625em;
    box-sizing: border-box;
}

/*styles the items inside the container and their elements*/
.about-box {
    margin-bottom: 1.6vh;
}

.about-box>h3 {
    margin-bottom: 1vh;
}

h3>a {
    color: #312E1C;
}

.about-container a:hover {
    color: #425A20;
    font-size: larger;
}
/* Tea section */
/*creates and styles a flexbox container div*/
.tea-container {
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    box-sizing: border-box;
}

.tea-container img {
    width: 80%;
    padding-top: 1.6vh;
    align-self: center;
}

.tea-container a {
    color: #312E1C;
}

.tea-container a:hover {
    color: #425A20;
    font-size: larger;
}
/*styles the items inside the containr and their elements*/
.tea-box {
    border: 7px solid #312E1C;
    border-radius: 5px;
    margin: 4px;
    box-sizing: border-box;
    /*makes the flex items take up equal width of the view port taken from stack overflow :https://stackoverflow.com/questions/29503227/how-to-make-flexbox-items-the-same-size*/
    flex: 1;
    display: flex;
    flex-direction: column;
}

.tea-box>p {
    margin: 1.6vh;
    text-align: left;
}

.tea-box h4 {
    text-decoration: none;
    color: #312E1C;
    margin: 1.6vh;
    text-align: left;
    margin-top: auto;
}

/* footer */
footer {
    height: 30px;
    Width: 100%;
    margin-top: auto;
}

/*styles the social network links in the footer*/
.social-networks {
    text-align: center;
    background-color: #312E1C;
}

.social-networks>li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 1%;
    color: #E0D6B5;
}

/* community page hero image */
#hero-2-outer {
    height: 82vh;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#hero-2 {
    position: relative;
    overflow: hidden;
    background: url('../images/hero-2.jpg') no-repeat center center;
    background-size: 100%;
    background-position: center;
    height: 82vh;
    width: 100%;

    /* animates zoom effect on community and validation page */

    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* creates zoom for hero-2-image */
@keyframes hero-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

/*creates and styles a flexbox container for community section*/
.community-class {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 7px solid #312E1C;
    border-radius: 5px;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 1.875em;
    padding: 0.625em;
    box-sizing: border-box;
}

.community-class>h3 {
    margin-bottom: 1vh;
}


/*creates and styles a flexbox container for form and contact details */
.container_contact {
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    box-sizing: border-box;
}

/*styles the form*/
#form {
    margin-top: 3%;
    margin-right: 3%;
    margin-bottom: 3%;
    color: #fff;
    background-color: rgba(49, 46, 28, .9);
    max-width: 350px;
    padding: 3%;
}

#form p {
    margin-bottom: 20px;
    font-family: Dosis, sans-serif;
    font-size: 120%;
    font-weight: 900;
    letter-spacing: 2px;
    color: #E0D6B5;
}

.text-input {
    background: transparent;
    color: #E0D6B5;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px;
    border: 1px solid #E0D6B5;
    border-radius: 2px;
}

.text-input:hover {
    background: rgba(224, 214, 181, .5);
}

.join-button {
    margin-top: 20px;
    border-radius: 10px;
    border: 2px solid #E0D6B5;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-family: Lato, sans-serif;
    font-size: 120%;
    font-weight: 900;
    background-color: #E0D6B5;
    color: #312E1C;
    display: block;
}

.join-button:hover {
    background: rgba(224, 214, 181, .5);
    color: #fff;
    border-color: #ffff;
}

.subscribe {
    margin-left: 1%;
}

.do_not_subscribe {
    margin-left: 10%;
}

/*styles the contact details div*/
#contact_details {
    margin-top: 3%;
    margin-bottom: 3%;
    color: #fff;
    background-color: rgba(49, 46, 28, .9);
    max-width: 350px;
    padding: 3%;
}

#contact_details li {
    margin-bottom: 10px;
    list-style: none;
    font-family: Lato, sans-serif;
    font-size: 90%;
    font-weight: 900;
    letter-spacing: 2px;
    color: #E0D6B5;
}

#contact_details a {
    text-decoration: none;
    color: #E0D6B5;
}

#contact_details>iframe {
    position: relative;
    width: 100%;
    height: 60%;
}

/*validation page */
#thank-you h3 {
    text-align: center;
    text-decoration: none;
    margin-left: 15%;
    margin-right: 15%;
}

/*Media Queries*/
/* small screens and tablets */
@media screen and (max-width: 1030px) {
    #welcome-text {
        padding-top: 10px;
        bottom: 29px;
        right: 34px;
    }

    .tea-container {
        flex-wrap: wrap;
    }

    /*undoes the flex 1 command to make items equal width so that they wrap in smaller screen sizes*/
    .tea-box {
        flex-basis: 100%;
    }

    .tea-box h4 {
        text-align: center;
    }

    .tea-box h4~p {
        text-align: center;
    }
}

/* mobile devices */
@media screen and (max-width: 900px) {
    #logo {
        margin-left: 15px;
    }

    #menu {
        font-size: 140%;
    }

    #welcome-text {
        width: 45%;
        height: fit-content;
        top: 130px;
        left: 43px
    }

    .container_contact {
        flex-wrap: wrap;
    }

    #form {
        margin: 3%;
    }

    #contact_details {
        margin: 3%;
    }
}

/* Media query for narrower mobile screens*/
@media screen and (max-width: 750px) {
    .header-nav {
        height: fit-content;
    }

    #logo {
        font-size: 120%;
        margin-left: 5px;
    }

    #menu {
        clear: left;
        float: left;
        font-size: 80%;
        margin-left: 5px;
        margin-bottom: 3px;
    }

    #menu,
    #logo {
        line-height: 30px;
        margin-left: 8px;
    }

    #menu li {
        margin-right: 20px;
    }

    #welcome-text {
        width: 65%;
        height: fit-content;
        top: 85px;
        left: 15px
    }

    #hero-2 {
        background-size: 130%;
        height: 90vh;
    }

    .quote {
        font-size: 130%;
    }
    #contact_details {
        height: fit-content;
    }
}