@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300&family=Lato:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;

}
body {
    font-family: Lato, sans-serif;
    font-weight: 800;
    color: #312E1C;
    background-color: #CEC8A3;
    
}

/* headings and logo */

h1, h2 {
    font-family: Dosis, sans-serif;
    text-transform:capitalize;
    letter-spacing: 2px;
}
header {
    background-color: #312E1C;
    color: #E0D6B5;
}

#logo {
    font-size: 270%;
    font-weight: 600;
    text-decoration: none;
    background-color: #312E1C;
    color: #E0D6B5;
}

#logo a {
    text-decoration-line: none;
}

#logo a:hover {
    border-bottom: 3px solid #E0D6B5;
}
/* naivgation */
#menu {
    font-size: 110%;
    letter-spacing: 2px;
}

#menu li {
    list-style-type: none;
   
}

#menu a {
    text-decoration: none;
    color: #E0D6B5;
}

#menu a:hover {
    border-bottom: 1px solid #E0D6B5;
}

.active {
    border-bottom: 1px solid #E0D6B5;
}

/* hero image */

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
}
#hero-image {
    position: relative;
    height: 600px;
    width: 100%;
    background: url('../images/assets/hero-image.jpg') no-repeat center center;
    background-size: cover;

    /* animates zoom effect on landing page */
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* creates zoom for hero-image */
@keyframes hero-zoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}